@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: "Open Sans", sans-serif;
}

#home-sec {
    background: linear-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0.1)
        ),
        url(../img/1.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 190px;
    min-height: 100vh;
}
