<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <div class="card" th:fragment="flightcard(flight)">
            <img
                th:src="'https://source.unsplash.com/random/400x300?airport,airplane&sig=' + ${#strings.randomAlphanumeric(10)}"
                class="card-img-top"
                alt="Airplane photo"
                th:unless="${isAdmin}"
            />
            <div class="card-body">
                <h3 class="h4 text-success text-center">
                    <span
                        th:text="${flight.formattedTravelPlanString()}"
                    ></span>
                </h3>
                <!-- TODO: enable via string when searched -->
                <!-- <h6 class="card-subtitle mb-2 text-muted" th:if="${isSearch}">
                    Via
                    <span th:text="${flight.getTravelVia()}"></span>
                </h6> -->
                <h6
                    class="card-subtitle mb-2 text-muted"
                    th:unless="${isSearch}"
                >
                    By
                    <span th:text="${flight.getCompany()}"></span>
                </h6>
                <p class="card-text text-danger">
                    Cost:
                    <span th:text="${flight.formattedAmtString()}"></span>
                </p>
            </div>
        </div>
    </body>
</html>
