<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="row" id="flights" th:fragment="flights">
            <div
                th:each="flight:${flights}"
                th:id="'flight-' + ${flight.getId().toHexString()}"
                class="col-12 col-md-6 col-lg-4 mt-3"
            >
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="h4 text-info">
                                <span
                                    th:text="${flight.formattedTravelPlanString()}"
                                ></span>
                            </h3>
                            <button
                                th:attr="delete-id=${flight.getId().toHexString()}"
                                type="button"
                                class="btn delete-flight-button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Delete flight"
                                th:if="${isAdmin}"
                            >
                                <span class="text-danger">
                                    <i class="bi bi-trash"></i>
                                </span>
                            </button>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">
                            By
                            <span th:text="${flight.getCompany()}"></span>
                        </h6>
                        <p class="card-text text-danger">
                            Cost:
                            <span
                                th:text="${flight.formattedAmtString()}"
                            ></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
