<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <footer class="container-fluid" th:fragment="footer">
            <div
                class="d-flex flex-wrap justify-content-end py-3 my-4 border-top"
            >
                <div class="col-md-6 col-lg-4 d-flex justify-content-end">
                    <span class="text-muted">
                        &copy;
                        <span th:text="${date}"></span>
                        Travel Thru Air | All Rights Reserved
                    </span>
                </div>
            </div>
        </footer>
    </body>
</html>
