<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <a
            class="nav-link"
            th:fragment="navlink(link,text,match1,match2)"
            th:href="@{${link}}"
            th:text="${text}"
            th:classappend="${match1 == match2} ? 'active disabled' : '' "
        ></a>
    </body>
</html>
