<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="card" th:fragment="offercard(offer)">
            <img
                th:src="'https://source.unsplash.com/random/400x300?airport,airplane&sig=' + ${#strings.randomAlphanumeric(10)}"
                class="card-img-top"
                alt="Airplane photo"
                th:unless="${isAdmin}"
            />
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="h4 text-info">
                        Special Deal @
                        <span th:text="${offer.finalAmt()}"></span>
                    </h3>
                    <button
                        th:attr="delete-id=${offer.getId().toHexString()}"
                        type="button"
                        class="btn delete-offer-button"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Delete Offer"
                        th:if="${isAdmin}"
                    >
                        <span class="text-danger">
                            <i class="bi bi-trash"></i>
                        </span>
                    </button>
                </div>
                <p class="card-text">
                    <small class="text-secondary">
                        Flat
                        <span class="text-danger">
                            <span th:text="${offer.getDiscount()}"></span>%
                        </span>
                        off Until
                        <span
                            th:text='${#dates.format(new java.util.Date(offer.getUntil()), "dd/MM/yyyy")}'
                        ></span>
                    </small>
                </p>
                <h6 class="card-subtitle mb-2 text-muted">
                    <span th:text="${offer.flight.getCompany()}"></span>
                </h6>
                <p class="card-text">
                    <span
                        th:text="${offer.flight.formattedTravelPlanString()}"
                    ></span>
                </p>
            </div>
        </div>
    </body>
</html>
